@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

body{
    --text-white:#fff;
    --text-dark:#00000D;

    --bg-light:#f5f5f5;
    --bg-dark:#6503A6;

    --btn-princ:#6503A6;
    --btn-secondary:#B562D9;
    --btn-terc:#EAD8F2;

    background-color: var(--bg-light);
    color: var(--text-dark);

}

.dark{
    --text-white:#00000D;
    --text-dark:#fff;

    --bg-light:#00000D;
    --bg-dark:#EAD8F2;

    --btn-princ:#EAD8F2;
    --btn-secondary:#B562D9;
    --btn-terc:#6503A6;
    
}
header, main{
    padding: 15px;

}
header{
    background-color: aquamaxrine;

    

    margin-top: 0px;

    margin-bottom: 40px;

}

nav{
    height: 10vh;

    padding: 5px 20px 5px 20px;

    color: var(--text-white);
    background-color: var(--bg-dark);

    line-height: 10vh;

    font-weight: 100;
    font-size: 18pt;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*Toggle dark mode*/

/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
   }
   
   /* Hide default HTML checkbox */
   .switch input {
    opacity: 0;
    width: 0;
    height: 0;
   }
   
   /* The slider */
   .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 30px;
   }
   
   .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 20px;
    left: 0.3em;
    bottom: 0.3em;
    background-color: var(--btn-princ);
    transition: .4s;
   }
   
   input:checked + .slider {
    background-color: var(--btn-terc);
   }
   
   input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
   }
   
   input:checked + .slider:before {
    transform: translateX(1.5em);
   }

/* Toggle dark mode */
main{
    display: flex;
    flex-direction: column;
}

main h1{
    text-align: center;

    margin-bottom: 10px;
}
#texto{
    margin-bottom: 20px;
}
#formulario{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

label{
    font-size: 18px;
    font-weight: bold;

}


input[type='text'], input[type='email']{
    font-size: 20px;
    padding-left: 5px;

    height: 44px;
    width: 300px;
    margin: 10px;

    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 5px #000;
}

#masc, #fem{
    width: 40px;
    height: 40px;   
    
    margin-top: 10px;
    margin-bottom: 10px;

    box-shadow: none;
}

.sub{
    background-color: var(--btn-secondary);
    
    color: var(--text-dark);

    letter-spacing: 4px;
    font-weight: bolder;

    height: 44px;
    width: 300px;
    margin: 10px;

    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 5px #000;
}

#conteudo{
    margin-top: 30px;
}

.card{
    background-color: yellxow;

    margin: 10px;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    text-align: center;
}

.card img{
    border: 2px solid var(--text-dark);
    border-radius: 5px;

}

.DivInfo{

    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#conteudo input{
    height: 44px;

    background-color: var(--bg-dark);

    border: 2px solid var(--bg-dark);
    border-radius: 5px;

    color: var(--text-white);
    letter-spacing: 2px;

}




#compartilhe{
    margin-top: 20px;

}

#compartilhe h2{
    margin-bottom: 10px;
}


footer{
    width: 100%;
    height: 158px;
    
    background: var(--bg-dark);

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    color: var(--text-white);

    clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 30%);

    top: 30px;
}


/*RESPONSIVE*/

@media (min-width:1024px){
    header{
        text-align: center;
    }

    header h1, header h3, header h4{
        margin-bottom: 10px;

    }



    main h1{
        margin-bottom: 35px;
    }

    #formulario {
        display: block;
    }
    #masc, #fem{
        width: 20px;
    }
    #masc, #fem:hover{
        cursor: pointer;
    }
    #sub:hover{
        cursor: pointer;
    }


    #conteudo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #listadeprodutos,#listadois{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        backgxround-color: aqua;

        width: 600px;

    }

    .card{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;

        margin: 15px;

        /* width: 200px; */
        backxground-color: yellow;
    }

    .card img{
        width:200px;
        padding: 15px;
        margin-bottom: 10px;
    }
    .DivInfo{
        margin-left: 15px;
    }

    #conteudo input:hover{
        cursor: pointer;

    }

    #mais:hover{
        cursor: pointer;
    }



    #compartilhe{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

    }

    #compartilhe form{
        display: flex;
        flex-direction: column;

    }

    #enviaragora:hover{
        cursor: pointer;
    }
}